@import url(../assets/fonts/fonts.css);
* {
  font-family: roboto;
  margin: 0;
  padding: 0;
}

header {
  margin: 0 180px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 10px;
  margin-bottom: 15px;
  color: #444343;
}

header h6 {
  font-size: 14px;
}

header a {
  font-size: 16px;
  margin-left: 10px;
}

header .right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .right .icon {
  margin-left: 16px;
}

nav {
  margin: 0 180px;
  margin-top: 10px;
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

nav .link ul {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

nav .link ul li {
  margin-left: 25px;
  list-style: none;
}

nav .link ul li a {
  text-decoration: none;
  color: #444343;
  font-size: 18px;
}

nav .link ul li a:hover {
  color: #5fbcd3;
}

.menu-toggler {
  background: none;
  width: 30px;
  border: none;
  cursor: pointer;
  position: relative;
  outline: none;
  z-index: 999;
  display: none;
}

.menu-toggler span {
  display: block;
  height: 3px;
  background: black;
  margin: 6px 0;
  position: relative;
  -webkit-transition: .3s linear;
  transition: .3s linear;
}

main {
  margin: 0 180px;
}

main .landing {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main .landing img {
  padding-top: 10px;
}

main .landing .left {
  width: 50%;
  margin-top: 50px;
  color: #444343;
}

main .landing .left .bold {
  font-family: mostrat2;
  font-size: 35px;
}

main .landing .left .landing-font {
  font-size: 35px;
  font-weight: lighter;
  font-family: mostrat;
}

main .landing .left .benefit {
  margin-top: 30px;
}

main .landing .left .benefit .icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
  font-family: mostrat2;
}

main .landing .left .benefit .icon h6 {
  font-size: 17px;
  font-weight: lighter;
  margin-left: 10px;
}

@media screen and (max-width: 980px) {
  header {
    margin: 0 70px;
    margin-bottom: 10px;
    margin-top: 10px;
  }
  header a {
    font-size: 14px;
  }
  nav {
    margin: 0 70px;
    margin-top: 10px;
    margin-bottom: 20px;
  }
  nav img {
    width: 150px;
  }
  nav .menu-toggler {
    display: block;
  }
  nav .link {
    position: fixed;
    height: 100vh;
    width: 100%;
    background-color: #67cbf3;
    top: 0;
    right: -100%;
    max-width: 200px;
    padding: 80px 50px;
    -webkit-transition: .4s linear;
    transition: .4s linear;
  }
  nav .link ul {
    display: block;
  }
  nav .link a {
    display: block;
    font-size: 20px;
    margin: 30px 0;
  }
  nav .link ul li a:hover {
    color: white;
  }
  nav .link.active {
    right: 0;
  }
  nav .menu-toggler.active span:nth-child(1) {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    top: 4px;
  }
  nav .menu-toggler.active span:nth-child(2) {
    opacity: 0;
  }
  nav .menu-toggler.active span:nth-child(3) {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    bottom: 14px;
  }
  main {
    margin: 0 70px;
  }
  main .landing {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  main .landing .left {
    width: 50%;
    margin-top: 50px;
    color: #444343;
  }
  main .landing .left .bold {
    font-family: mostrat2;
    font-size: 30px;
  }
  main .landing .left .landing-font {
    font-size: 25px;
    font-weight: lighter;
    font-family: mostrat;
  }
  main .landing .left .benefit {
    margin-top: 25px;
  }
  main .landing .left .benefit .icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 20px;
    font-family: mostrat2;
  }
  main .landing .left .benefit .icon h6 {
    font-size: 15px;
    font-weight: lighter;
    margin-left: 10px;
  }
}

@media screen and (max-width: 600px) {
  header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-top: 10px;
    margin-bottom: 15px;
    color: #444343;
  }
  main {
    margin: 0 70px;
  }
  main .landing {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  main .landing img {
    padding-top: 10px;
    width: 100%;
  }
  main .landing .left {
    width: 100%;
    margin-top: 50px;
    color: #444343;
  }
  main .landing .left .bold {
    font-family: mostrat2;
    font-size: 30px;
  }
  main .landing .left .landing-font {
    font-size: 25px;
    font-weight: lighter;
    font-family: mostrat;
  }
  main .landing .left .benefit {
    margin-top: 25px;
  }
  main .landing .left .benefit .icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 20px;
    font-family: mostrat2;
  }
  main .landing .left .benefit .icon h6 {
    font-size: 15px;
    font-weight: lighter;
    margin-left: 10px;
  }
}

@media screen and (max-width: 450px) {
  header {
    margin: 10px 20px 20px 20px;
  }
  nav {
    margin: 10px 20px 20px 20px;
  }
  main {
    margin: 0 20px;
    margin-bottom: 20px;
  }
  main img {
    width: 100%;
  }
}
/*# sourceMappingURL=main.css.map */