@import url(../assets/fonts/fonts.css);

*{
    font-family: roboto;
    margin: 0;
    padding: 0;
}

@mixin container{
    margin: 0 180px;
}

@mixin small-container{
    margin: 0 70px
}

body::-webkit-scrollbar {
    width: 0.25rem;
}
body::-webkit-scrollbar-track {
    background: #43c3ff;
}
body::-webkit-scrollbar-thumb {
    background: #ffffff;
}

header{
    @include container;
    justify-content: space-between;
    display: flex;
    margin-top: 10px;
    margin-bottom: 15px;
    color: rgb(68, 67, 67);
    h6{
        font-size: 14px;
    }
    a{
        font-size: 16px;
        margin-left: 10px;
    }
    .right{
        display: flex;
        .icon{
            margin-left: 16px;
        }
    }
}
nav{
    @include container;
    margin-top: 10px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    .link ul{
        margin-top: 20px;
        display: flex;
        li{
            margin-left: 25px;
            list-style: none;
            a{
                text-decoration: none;
                color:  rgb(68, 67, 67);
                font-size: 18px;
            }
            a:hover{
                color: rgb(95, 188, 211);
            }
        }
    }
}
.menu-toggler{
    background: none;
    width: 30px;
    border: none;
    cursor: pointer;
    position: relative;
    outline: none;
    z-index: 999;
    display: none;
}

.menu-toggler span{
    display: block;
    height: 3px;
    background: black;
    margin: 6px 0;
    position: relative;
    transition: .3s linear;   
}
main {
    @include container;
    .landing{
        display: flex;
        img{
            margin-top: 10px;
        }
        .left{
            width: 50%;
            margin-top: 50px;
            color: rgb(68, 67, 67);
            h2{
                font-family: mostrat;
                font-size: 35px;
            }
            .landing-font{
                font-size: 35px;
                font-weight: lighter;
                font-family: mostrat;
            }
            .benefit{
                margin-top: 30px;
                .icon{
                    display: flex;
                    margin-top: 20px;
                    font-family: mostrat2;
                    h6{
                        font-size: 17px;
                        font-weight: lighter;
                        margin-left: 10px;
                    }
                }
            }
        }
    }
    .ln2{
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        margin-top: 80px;
        .image{
            margin-right: 60px;
            margin-left: 50px;
            width: 200px;
            text-align: center;
            p{
                font-family: mostrat;
                font-weight: lighter;
            }
        }
    } 
    .ln3{
        justify-content: space-between;
        align-items: center;
        .center{
            text-align: center;
            margin-top: 60px;
            h1{
                font-size: 26px;
                font-family: roboto;
                font-weight: bold;
                color: rgb(68, 67, 67);
            }
            .p{
                font-size: 22px;
                font-weight: 100;
            }
        }
        .bidding{
            display: flex;
            justify-content: center;
            align-items: flex-start;
            margin-top: 60px;
            .items{
                text-align: center;
                margin: 0 10px;
                color: rgb(68, 67, 67);
                .tb{
                    border: .5px solid rgb(177, 177, 177);
                    padding: 0 15px;
                    font-family: mostrat;
                    h3{
                        font-size:25px;
                        padding: 5px 0;
                        font-weight: bold;
                        color: rgb(68, 67, 67);
                    }
                    .discon{
                        padding: 10px 0;
                        strike{
                            font-size: 14px;
                        }
                        h2{
                            font-size: 50px;
                            sup{
                                font-weight: 400;
                                font-size: 20px;
                            }
                        }
                    }
                    .users{
                        padding: 10px 0;
                    }
                    .benefit{
                        padding: 10px 0 ;
                        p{
                            margin-top: 5px;
                        }
                        button{
                            margin-top: 30px;
                            padding: 7px 20px;
                            border: 1.6px solid rgb(99, 99, 99);
                            border-radius: 100px;
                            background-color: white;
                            font-weight: bold;
                            transition: .3s linear;
                            margin-bottom: 20px;
                        } button:hover{
                            background-color: rgb(41, 163, 245);
                            border: 1.6px solid white;
                            color: white;
                            padding: 7px 20px;
                        }
                    }
                }
                .tb:nth-child(1),
                .tb:nth-child(2),
                .tb:nth-child(3){
                    border-bottom: none;
                }
            }
            .items:nth-child(3){
                .tb{
                    border: 1px solid rgb(41, 163, 245);
                    h3{
                        color: white;
                    }
                    .benefit{
                        button{
                            background-color: rgb(41, 163, 245);
                            color: white;
                            border: 1.6px solid rgb(41, 163, 245)
                        } button:hover{
                            background-color: white;
                            color: black;
                        }
                    }
                }
                .tb:nth-child(1),
                .tb:nth-child(2){
                    background-color: rgb(41, 163, 245);
                    color: white;
                    border: 1px solid rgb(41, 163, 245);
                }.tb:nth-child(3){
                    background-color: rgb(0, 153, 255);
                    border: 1px solid rgb(41, 163, 245);
                    color: white;
                }

            }
        }
    }
    .ln4{
        color: rgb(68, 67, 67);
        justify-content: center;
        align-items: center;
        margin-top: 60px;
        .center{
            text-align: center;
            h3{
                font-family: mostrat;
                font-size: 26px;
                font-weight: lighter;
            }
        }
        .tb-parent{
            margin-top: 60px;
            display: flex;
            justify-content: center;
            align-items: center;
            .tb{
                margin: 0 20px;
                text-align: center;
                .tb-child{
                    border: 1px solid rgb(68, 67, 67);
                    display: flex;
                    padding: 8px 100px 8px 0px;
                    p{
                        margin-left: 70px;

                    }
                }
                .tb-child:nth-child(2){
                    background-color: rgb(212, 212, 212);
                    border-top: none;
                    border-bottom: none;
                }
            }
        }
    }
    .ln5{
        color: rgb(68, 67, 67);
        justify-content: center;
        align-items: center;
        margin-top: 60px;
        .center{
            text-align: center;
            h3{
                font-family: mostrat;
                font-size: 26px;
                font-weight: lighter;
            }
        }
        .package{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            .items{
                width: 230px;
                text-align: center;
                margin: 0 50px;
                margin-top: 60px;
                h6{
                    font-size: 16px;
                    font-family: mostrat;
                }
                p{
                    font-size: 12px;
                }
            }
        }
    }
    .ln6{
        margin-top: 70px;
        .center{
            text-align: center;
            h3{
                font-family: mostrat;
                font-size: 26px;
                font-weight: lighter;
            }
        }
        img{
            margin-top: 10px;
        }
        .flex{
            display: flex;
            .left{
                width: 50%;
                margin-top: 50px;
                color: rgb(68, 67, 67);
                h6{
                    font-size: 20px;
                    font-family: mostrat;
                    font-weight: lighter;
                }
                .benefit{
                    margin-top: 30px;
                    .icon{
                        display: flex;
                        margin-top: 20px;
                        font-family: mostrat2;
                        h6{
                            font-size: 15px;
                            font-weight: lighter;
                            margin-left: 10px;
                            b{
                                color: black;
                            }
                        }
                    }
                }
                p{
                    margin-top: 30px;
                    font-size: 13px;
                }
                button{
                    margin-top: 30px;
                    padding: 10px 30px;
                    border: none;
                    background-color: rgb(41, 163, 245);
                    font-size: 17px;
                    border-radius: 100px;
                    color: white;
                    transition: .3s linear;
                    cursor: pointer;
                } button:hover{
                    background-color: white;
                    border: 1px solid rgb(41, 163, 245);
                    color: rgb(41, 163, 245);
                }
            }
        }
    }
    .ln7{
        justify-content: center;
        align-items: center;
        margin-top: 60px;
        color: rgb(68, 67, 67);
        .center{
            text-align: center;
            h3{
                font-family: mostrat;
                font-size: 26px;
                font-weight: lighter;
            }
        }
        .list{
            justify-content: space-between;
            align-items: center;
            display: flex;
            margin: 0 150px;
            margin-top: 40px;
            .list-child{
                p{
                    margin-top: 2px;
                }
            }
        }
        button{
            padding: 7px 50px;
            margin-top: 40px;
            border: 1px solid rgb(51, 51, 51);
            border-radius: 100px;
            font-size: 17px;
            background-color: white;
            transition: .3s linear;
            cursor: pointer;
        }  button:hover{
            background-color: rgb(41, 163, 245);
            border: 1px solid rgb(41, 163, 245);
            color: white;
        }
    }
    .ln8{
        margin-top: 50px;
        justify-content: space-between;
        align-items: center;
        img{
            margin-top: 10px;
        }
        .flex{
            display: flex;
            img{
                margin-top: 100px;
            }
            .left{
                width: 50%;
                margin-top: 50px;
                color: rgb(90, 90, 90);
                h6{
                    font-size: 26px;
                    font-family: mostrat;
                    font-weight: lighter;
                    width: 350px;
                }
                p{
                    margin-top: 30px;
                    font-size: 15px;
                    width: 75%;
                    b{
                        color: black;
                    }
                }
                button{
                    margin-top: 30px;
                    padding: 10px 30px;
                    border: none;
                    background-color: rgb(41, 163, 245);
                    font-size: 17px;
                    border-radius: 100px;
                    color: white;
                    transition: .3s linear;
                    cursor: pointer;
                } button:hover{
                    background-color: white;
                    border: 1px solid rgb(41, 163, 245);
                    color: rgb(41, 163, 245);
                }
            }
        }
    }
}
.ln9{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px 10px; 
    background-color: whitesmoke;
    .left{
        @include container();
        h6{
            font-family: mostrat;
            color: rgb(68, 67, 67);
            font-size: 15px;

        }
    }
    .right{
        display: flex;
        @include container();
        .icon{
            align-items: center;
            display: flex;
            margin-left: 5px;
            p{
                border: 1px solid rgb(68, 67, 67);
                padding: 5px 10px;
                margin-left: 2px;
                border-radius: 3px;
                color: rgb(68, 67, 67);
            }
        }.icon:nth-child(3){
            margin-right: 200px;
        }
    }
}
.ln10{
    padding: 50px 10px; 
    background-color: rgb(41, 163, 245);
    color: white;
    .left{
        @include container();
        display: flex;
        justify-content: space-between;
        align-items: center;
        h2{
            font-family: mostrat;
            font-weight: lighter;
            font-size: 35px;
        }
        .icon{
            width: 170px;
            height: 45px;
            border: 2px solid white;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 100px;
            background-color: rgb(41, 163, 245);
            color: white;
            p{
                margin-left: 15px;
                font-size: 20px;
            }
        }
    }
}

@media screen and (max-width:1000px){
    header{
        @include small-container();
        margin-bottom: 10px;
        margin-top: 10px;
        a{
            font-size: 14px
        }
    }
    nav{
        img{
            width: 150px
        }
        @include small-container();
        margin-top: 10px;
        margin-bottom: 20px;
        .menu-toggler{
            display: block;
        }
        .link{
            position: fixed;
            height: 100vh;
            width: 100%;
            background-color: rgb(103, 203, 243);
            top: 0;
            right: -100%;
            max-width: 200px;
            padding: 80px 50px;
            transition: .4s linear;
            ul{
                display: block;
            }
        }
        .link a{
            display: block;
            font-size: 20px;
            margin: 30px 0;
        }
        .link ul li a:hover{
            color: white;
        }
        .link.active{
            right: 0;
        }
        .menu-toggler.active span:nth-child(1){
            transform: rotate(-45deg);
            top: 4px;
        }
        .menu-toggler.active span:nth-child(2){
            opacity: 0;
        }
        .menu-toggler.active span:nth-child(3){
            transform: rotate(45deg);
            bottom: 14px;
        }
    }
    main{
        @include small-container();
        .landing{
            display: flex;
            .left{
                width: 50%;
                margin-top: 50px;
                color: rgb(68, 67, 67);
                .bold{
                    font-family: mostrat2;
                    font-size: 30px;
                }
                .landing-font{
                    font-size: 25px;
                    font-weight: lighter;
                    font-family: mostrat;
                }
                .benefit{
                    margin-top: 25px;
                    .icon{
                        display: flex;
                        margin-top: 20px;
                        font-family: mostrat2;
                        h6{
                            font-size: 15px;
                            font-weight: lighter;
                            margin-left: 10px;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width:600px){
    header{
        display: flex;
        flex-wrap: wrap;
        margin-top: 10px;
        margin-bottom: 15px;
        color: rgb(68, 67, 67);
    }
    main{
        @include small-container();
        .landing{
            display: flex;
            flex-wrap: wrap;
            img{
                padding-top: 10px;
                width: 100%;
            }
            .left{
                width: 100%;
                margin-top: 50px;
                color: rgb(68, 67, 67);
                .bold{
                    font-family: mostrat2;
                    font-size: 30px;
                }
                .landing-font{
                    font-size: 25px;
                    font-weight: lighter;
                    font-family: mostrat;
                }
                .benefit{
                    margin-top: 25px;
                    .icon{
                        display: flex;
                        margin-top: 20px;
                        font-family: mostrat2;
                        h6{
                            font-size: 15px;
                            font-weight: lighter;
                            margin-left: 10px;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width:450px){
    header{
        margin: 10px 20px 20px 20px;
    }
    nav{
        margin: 10px 20px 20px 20px;
    }
    main{
        margin: 0 20px;
        margin-bottom: 20px;
        img{
            width: 100%;
        }
    }
    
}